<%= render 'date_nav', date: @date %>

<%= render 'form', todo: @todo %>

<div
  data-controller="drag-drop-sortable"
  data-drag-drop-sortable-url="/todos/:id.js"
>
  <% (@todos.incomplete + @todos.complete).each do |todo| %>
    <%= render 'card', todo: todo %>
  <% end %>
</div>