<%= render 'date_nav', date: @date %>

<%= render 'form', todo: @todo %>

<div
  data-controller="drag-drop-sortable"
  data-drag-drop-sortable-model-name="todo_list_position"
  data-drag-drop-sortable-url="/todo_list_positions/:id.js"
>
  <% (@todos.incomplete + @todos.complete).each do |todo| %>
    <%= render 'card', todo: todo %>
  <% end %>
</div>

<% if @todos.empty? %>
  <%= image_tag image_urls.sample, style: "width: 100%" %>
<% end %>
