// Place all the styles related to the Todos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

div.todo-row {
  padding: 10px;

  input[type='checkbox'] {
    width:30px;
    height:30px;
    background:white;
    border-radius:5px;
    border:2px solid #555;
  }

  span.todo-title {
    margin-left: 6px;

    span.due-in-time {
      font-size: x-small;
    }

    span.due-in-less-than-an-hour {
      color: red;
    }

    span.due-in-less-than-two-hours {
      color: orange;
    }

    span.due-in-less-than-four-hours {
      color: green;
    }
  }
}

div.todo-row-completed {
  background-color: lightgrey;

  span.todo-title {
    text-decoration: line-through;
  }
}
